body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5%;
    background-color: #f0f0f0;
    height: auto; /* Höhe des sichtbaren Bereichs */
    width: auto; /* Breite des sichtbaren Bereichs */
}

.container {
    flex:auto;
    max-width: 100%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.contact-info {
    margin-top: 20px;
}

.contact-info ul {
    position: center;
}

.contact-info p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    position: relative;
}

.social-icons img {
    width: 28px;
    height: auto;
    transition: transform 0.5s ease;
}

.social-icons a:hover img {
    transform: scale(1.5);
}

/*EingabeContainer*/

input[type="text"] {
    width: calc(100% - 20px); /* 20px Abstand (10px links + 10px rechts) */
    padding: 10px;
    margin: 10px auto; /* Zentriert das Eingabefeld horizontal */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#output {
    margin-top: 20px;
}

.comment_time {
    background-color: #22bbf2;
    text-align: center;
    display: inline-block;
}